[Unit]
Description=Birdnet-Analyzer Service
Wants=network.target
After=network.target

[Service]
User=[username]
WorkingDirectory=/home/[username]/Birdnet-Analyzer/
ExecStart=/bin/bash -c 'source /home/[username]/BirdnetPI-Analyzer/venv/bin/activate && exec python -m streamlit run /home/[username]/BirdnetPI-Analyzer/Home.py --server.port 8502'
Restart=always
RestartSec=10
Environment=PATH=/usr/local/bin:/usr/bin:/bin

[Install]
WantedBy=multi-user.target
